
.profile-img {
    float: left;
    height: 545px;
}

    .profile-img img {
        border-radius: 50%;
    }

.right-content {
    margin-left: 15px;
    float: left;
    width: 570px;
    height: 545px;
}

    .right-content .title h3 {
        font-size: 64px;
        color: #4D4D4D;
        line-height: 1px;
        margin-left: 5px;
    }

    .right-content .title span {
        margin-left: 5px;
        font-size: 32px;
        color: #4D4D4D;
    }

.red {
    background-color: #E83556;
}

.blue {
    background-color: #61D0D4;
}

.yellow {
    background-color: #BBB422;
}

.tree-circle-container {
    margin-top: 15px;
}

    .tree-circle-container a .circle {
        width: 130px;
        height: 130px;
        border-radius: 65px;
        font-size: 16px;
        color: #ffff;
        text-align: center;
        float: left;
        margin-left: 5px;
    }

    .tree-circle-container a {
        text-decoration: none;
    }

        .tree-circle-container a .circle span {
            position: relative;
            top: 55px;
            width: 130px;
            height: 130px;
            color: #ffffff;
        }

.right-content .paragraph {
    margin-top: 15px;
    float: left;
}

    .right-content .paragraph p {
        font-size: 18px;
        text-align: left;
        color: #4D4D4D;
    }
