.body {
    font-family: "open-sans";
    font-size: 12px;
    margin: 0px;
}

.main-container {
    height: 100%;
    width: 980px;
    display: table;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 150px;
    background-color: #EAE5E5;
    align-content: center;
}

    .header .name-logo {
        float: left;
        color: #4D4D4D;
        font-size: 24px;
        font-weight: bold;
        line-height: 26px;
        padding-top: 3%;
        padding-left: 3%;
    }

        .header .name-logo h2 {
            font-size: 60px;
            line-height: 0px;
            margin-bottom: 30px;
        }

        .header .name-logo span {
            font-size: 18px;
            line-height: 0px;
        }

.menu {
    float: left;
}

    .menu ul {
        padding-top: 18%;
    }

        .menu ul li {
            float: left;
            padding: 10px;
            list-style: none;
        }

            .menu ul li a {
                text-decoration: none;
                color: #8B8B8B;
                font-size: 18px;
                font-weight: bold;
            }

                .menu ul li a:hover {
                    text-decoration: none;
                    color: #61D0D4;
                }

                .menu ul li a:active {
                    text-decoration: none;
                    color: #61D0D4;
                }

.content {
    width: auto;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 2%;
    background-color: #EAE5E5;
}

.footer {
    width: auto;
    height: 120px;
    background-color: #E83556;
    padding: 1%;
}

.footer-section {
    width: 23.8%;
    height: 100%;
    float: left;
    padding: 30px 5px 5px 5px;
    display: table;
    margin: 0 auto;
}

    .footer-section .footer-icon {
        background: #61D0D4;
        width: 45px;
        height: 45px;
        border-radius: 22px;
        font-size: 28px;
        color: #ffff;
        text-align: center;
        float: left;
        margin-right: 5px;
    }

        .footer-section .footer-icon i {
            position: relative;
            top: 7px;
            width: 45px;
            height: 45px;
            color: #ffffff;
        }

    .footer-section .footer-icon-text {
        color: #ffffff;
        float: left;
    }

        .footer-section .footer-icon-text h3 {
            font-weight: bold;
            font-size: 20px;
            margin: 1px;
        }

        .footer-section .footer-icon-text a {
            text-decoration: none;
            font-size: 14px;
            color: #ffffff;
        }

        .footer-section .footer-icon-text .social-media i {
            margin-left: 5px;
            float: left;
            font-size: 22px;
        }
